<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.slowstep_pjt.managePatient.mapper.MPDoctorMapper">

    <insert id="postExamInfo"
            parameterType="com.example.slowstep_pjt.managePatient.domain.EXAM_INFO">

        INSERT INTO EXAM_INFO
        VALUES( default, #{ptNo}, #{rxCn}, #{disNm}, #{picMdNm}, NOW() )

    </insert>

</mapper>