<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.slowstep_pjt.pm.mapper.PmMapper">

    <sql id="selectColumns">
        pm_no       ,
        pm_rm_no    ,
        pm_cn       ,
        trsm_dir    ,
        pm_dsptch_dt,
        rd_yn       ,
        rd_dt       ,
        delete_yn   ,
        delete_dt
    </sql>

    <insert id="writePmCn"
            parameterType="com.example.slowstep_pjt.pm.domain.PmRequest">
        INSERT INTO PM
        VALUES (default,
                #{pmRmNo},
                #{pmCn},
                #{trsmDir},
                default,
                default)
    </insert>

    <select id="findAll"
        parameterType="java.lang.Integer"
        resultType="com.example.slowstep_pjt.pm.domain.PmResponse">
        SELECT  
            <include refid="selectColumns" /> 
        FROM    
            PM
        WHERE
            PM_RM_NO=#{pmRmNo}
            AND
            DELETE_YN=0
        ORDER BY   
            PM_DSPTCH_DT DESC
    </select>

    <delete id="deleteByPmNo"
        parameterType="java.lang.Integer">
    UPDATE PM
    SET 
        DELETE_YN   = 1 ,
        DELETE_DT = IF(DELETE_DT IS NULL, NOW(), DELETE_DT)
    WHERE 
        PM_NO = #{pmNo} 
    </delete>

    <select id="findByPmNo"
        parameterType="java.lang.Integer"
        resultType="com.example.slowstep_pjt.pm.domain.PmResponse">
        SELECT  
            <include refid="selectColumns" /> 
        FROM    
            PM
        WHERE
            PM_NO=#{pmNo}
    </select>

    <update id="updateRdYn"
        parameterType="java.lang.Integer">
        UPDATE PM
        SET 
            RD_YN = 1,
            RD_DT = IF(RD_DT IS NULL, NOW(), RD_DT)
        WHERE 
            PM_NO = #{pmNo};
        
    </update>

    <select id="getDoctorList"
        resultType="com.example.slowstep_pjt.pm.domain.PmResponse">
        SELECT
            MBR.MBR_NO,
            MBR.MBR_NM,
            UH_MD.MD_PIC_DEPT
        FROM
            MBR
        JOIN
            UH_MD ON (UH_MD.MD_NO = MBR.MBR_NO)
    </select>

    <select id="getNurseList"
        resultType="com.example.slowstep_pjt.pm.domain.PmResponse">
        SELECT
            MBR.MBR_NO,
            MBR.MBR_NM 
        FROM
            MBR
        JOIN
            CH_RN ON (CH_RN.RN_NO = MBR.MBR_NO)
    </select>
</mapper>
